#back
#AddDefaultCharset utf-8

#Deny from all
#Allow from 117.0.207.245 127.0.0.1

#Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteCond %{HTTP_HOST} ^techz24\.com$
RewriteRule (.*) http://www.techz24.com/$1 [R=301,L]

# Make the backend accessible via url: http://site/backend.

RewriteRule ^backend backend.php
RewriteRule ^crawler crawler.php
RewriteRule ^crontab crontab.php

# If a directory or a file exists, use it directly.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise forward it to index.php.
RewriteRule . index.php
